  <div id="nav-cont">
    <ul>
      <div id="logo-cont"><img src="" alt=""><a href="#">Caza Terrazas</a></div>
      <li class="items"><a href="#">Home</a></li>
      <li class="items"><a href="#">About</a></li>
      <li class="items"><a href="./blog.html">Blogs</a></li>
      <li class="items"><a href="#">Contact</a></li>
      <li class="items"><a href="#">Feedback</a></li>
      <li class="btn"><i class="fas fa-bars"></i></li>
    </ul>
  </div>
