<div id="target">
  <%= image_tag("GreyTarget.png")%>
  <div class="targettnb">
    <p class="targettext">Encuentra. Reserva. Disfruta.</p>
    <a href="#" class="mainbutton">Caza tu Terraza</a>
  </div>
</div>
